.headder {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto auto;
    gap: 15px;
    align-items: center;
    margin: 0px;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.logo {
    height: 50px;
    width: 67px;
    margin-left: 20px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.logo img:hover {
    border: 2px solid white;
    border-radius: 3px;
}

.del {
    width: 150px;
}

.del1 {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.del2 {
    display: flex;
}

.del2 img {
    max-width: 100%;
    max-height: 24px;
    object-fit: contain;
    margin-left: 4px;
}

.del3 {
    flex: 1;
    margin-top: 3px;
    margin-left: 5px;
}
.add{
    height: 20px;
}
.search {
    min-width: 350px;
    max-width: 850px;
    background-color: transparent;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-button {
    background-color:rgb(224, 185, 10) ;
    border: none;
    padding: 8px;
    cursor: pointer;
    border:2px solid transparent;
    border-radius: 4px;
    height: 35px;
    transform: translateX(-40px);
}
.search-button img{
    max-width: 100%;
    max-height: 24px;
    object-fit: contain;
    margin-bottom: 2px;
}

.language {
    background-color: transparent;
}

.language img {
    max-width: 100%;
    max-height: 21px;
    object-fit: contain;
    border: 2px solid transparent;
    border-radius: 5px;
}

.lan1 {
    display: flex;
}

.lan2 {
    margin-top: 5px;
    margin-left: 4px;
}

.account {
    background-color: transparent;
    margin-left: 15px;
}

.acc1 {
    font-size: 15px;
}

.orders {
    background-color: transparent;
    margin-left: 15px;
}

.ord1 {
    font-size: 14px;
}

.cart {
    background-color: transparent;
    margin-left: 15px;
    margin-right: 5px;
}

.cart1 img {
    max-width: 70%;
    max-height: 50px;
    object-fit: fixed;
}

.cart2 {
    font-size: larger;
}


.headder > div:not(.search):not(.logo):not(.cart):hover {
    border: 2px solid white;
    border-radius: 3px;
}
